body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1 {
    font-size: 70px;
    font-weight: 600;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 17px;
    font-weight: 400;
}
#header-one {
    margin-bottom: 10px;
}
#header-two {
    margin-top: 10px;
}
.container {
    padding-top: 90px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 120px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 100%), url(images/donation15.jpg);
}
.button {
    display: inline-block;
    background-image: linear-gradient(orange, rgb(254, 94, 94));
    border-radius: 5px;
    padding: 18px 30px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.payment-div {
    padding-top: 80px;
    text-align: center;
}
.amount-selection {
    display: flex;
    padding-left: 18%;
    padding-right: 20%;
}
.amount {
    padding: 40px;
    margin: 12px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 500;
    background-color: gainsboro;
    color: rgb(85, 85, 85);
}
#red-border {
    border: 2px solid red;
    color: red;
    background-color: rgba(255, 0, 0, 0.109);
}
#other-amount {
    color: rgba(0, 0, 0, 0.291);
}
hr {
    margin-left: 19%;
    margin-right: 19%;
    text-align: center;
}